.hero{
    position: relative;
    width: 100%;
    height: 100vh; /*화면 높이만큼(첫 화면이 꽉 차게 도와줌)*/

    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: center;
}

/* 오버레이 */
.overlay{
    position: absolute;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.55);
}

/* 글씨 */
.hero-content {
    position: absolute;
    top: 35%;
    left: 10%;
    color: white;
}

/* 제목 */
.hero h1 {
    font-size: 45px;
    line-height: 1.3;
}

/* 파란글씨 */
.hero span {
    color: #3E7BFA;
}
