@import "tailwindcss";

body {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
}

.fontBold {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
}

.fontEB {
  font-family: 'Pretendard', sans-serif;
  font-weight: 800;
}

.fontRegular {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
}
